# Environment variables
.env

# Dependencies
/node_modules

.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.frontend
.env.backend

# Dependencies
/node_modules
